@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
@font-face {
    font-family: 'Larsseit';
    src: url('./assets/larsseit/Larsseit.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Larsseit';
    src: url('./assets/larsseit/Larsseit-Bold.otf');
    font-weight: 700;
}
body {
    margin: 0;
    padding: 0;
}